<div class="container-fluid sidebarContent">
  <div class="row">
    <div class="col-3" id="sidebar-wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
        <ul class="nav sidebar-nav">
            <li>
              <a class="nav-link" [routerLink]="['/admin/add-details']" routerLinkActive="active">Add Clients/jobs</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/admin/view-details']" routerLinkActive="active">View Clients</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/admin/add-contacts']" routerLinkActive="active">Add Contacts</a>
            </li>
        </ul>
      </nav>
    </div>
    <div class="col-8">
      <div class ="container-fluid adminMainContent">
      <router-outlet></router-outlet>
     </div>
    </div>
  </div>
</div>
