

.sidebar-nav li {
  position: relative; 
  line-height: 10px;
  display: inline-block;
  width: 100%;
} 
#sidebar-wrapper {
  border: black solid;
  width: 10px !important;
  height: 200px;
  margin: 25px 10px;
  border-radius: 20%;
  top: 0;
}
/* .sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #0c0b0b2c;

}

.sidebar-nav li a {
  display: block;
  color: rgb(15, 11, 11);
  text-decoration: none;
  padding: 10px 15px 10px 30px;    
} */ 
.adminMainContent {
  font-size: medium;
  font-weight: 500;
  margin: 20px;
}