<div class="container-fluid">
  <div class="row" >
    <div class="col-2" style="margin-top: 20px;">
      <div class="card">
        <article class="card-group-item">
          <header class="card-header"><h6 class="title">Actions</h6></header>
          <div class="filter-content">
            <div class="list-group list-group-flush">
              <a class="nav-link" [routerLink]="['/admin/add-details']" routerLinkActive="active">Add Clients/jobs</a>
              <a class="nav-link" [routerLink]="['/admin/view-details']" routerLinkActive="active">View Clients</a>
              <a class="nav-link" [routerLink]="['/admin/add-contacts']" routerLinkActive="active">Add Contacts</a>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="col-10">
      <div class ="container-fluid adminMainContent">
      <router-outlet></router-outlet>
     </div>
    </div>
  </div>
</div>
