<section>
  <div class="jobsImage"></div>
</section>
  <hr class="my-5" />
  <section>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Job Name</th>
          <th scope="col">Skills</th>
          <th scope="col">Experience</th>
          <th scope="col">Salary</th>
          <th scope="col">Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of JOBS.data">
          <th scope="row">1</th>
          <td>{{data.jobName}}</td>
          <td>{{data.skills}}</td>
          <td>{{data.experience}}</td>
          <td>{{data.salary}}</td>
          <td>{{data.country}}</td>
        </tr>
      </tbody>
    </table>
  </section>