<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Client Name</th>
      <th scope="col">Number of Visas</th>
      <th scope="col">AgencyName</th>
      <th scope="col">Waqala#</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of CLIENTS.data">
      <th scope="row">1</th>
      <td>{{data.clientName}}</td>
      <td>{{data.numberOfVisas}}</td>
      <td>{{data.agencyName}}</td>
      <td>{{data.waqalaNum}}</td>
      <td>{{data.country}}</td>
    </tr>
  </tbody>
</table>